{% extends 'app_cookbook/layouts/layout_base.html' %}

{% block title %}Поварская книга{% endblock %}


{% block content %}

<main>
    <section class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Поварская книга</h1>
            <p class="fs-5 text-body-secondary">Нужно разработать небольшое приложение поварской книги на Django,
                со следующим функционалом:</p>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col ">
                <h3 class="text-center">База данных:</h3>
                <ul class="">
                    <li class="">В базе данных приложения должен храниться список продуктов;</li>
                    <li class="">Продукт имеет название, а также целочисленное поле, хранящее информацию о том,
                        сколько раз было приготовлено блюдо с использованием этого продукта;</li>
                    <li class="">Также в базе данных хранятся рецепты блюд;</li>
                    <li class="">Рецепт имеет название, а также набор входящих в рецепт продуктов,
                        с указанием веса в граммах;</li>
                    </br>
                    <p><strong>Например</strong> - рецепт Сырник, в который входят продукты Творог 200г, Яйцо 50г, Сахар 10г.</p>
                    <li class="">Один и тот же продукт, может использоваться в разных рецептах;</li>
                    <li class="">Один и тот же продукт не может быть использован в одном рецепте дважды.</li>
                </ul>
            </div>
            <div class="col ">
                <h3 class="text-center">Функционал:</h3>
                <ul class="">
                    <p class="">Приложение должно предоставлять следующие HTTP функции,
                        получающие параметры методом GET:</p>
                    <li class="">
                        add_product_to_recipe с параметрами recipe_id, product_id, weight.
                        Функция добавляет к указанному рецепту указанный продукт с указанным весом.
                        Если в рецепте уже есть такой продукт,
                        то функция должна поменять его вес в этом рецепте на указанный;
                    </li>
                    <li class="">
                        cook_recipe c параметром recipe_id.
                        Функция увеличивает на единицу количество приготовленных блюд для каждого продукта,
                        входящего в указанный рецепт;
                    </li>
                    <li class="">
                        show_recipes_without_product с параметром product_id.
                        Функция возвращает HTML страницу, на которой размещена таблица.
                        В таблице отображены id и названия всех рецептов,
                        в которых указанный продукт отсутствует, или присутствует в количестве меньше 10 грамм.
                        Страница должна генерироваться с использованием Django templates.
                        Качество HTML верстки не оценивается.
                    </li>
                </ul>
            </div>
            <div class="col center">
                <div class="center">
                    <p><strong>Важно:</strong> указанные функции должны быть реализованы в разумной степени эффективно
                            с точки зрения производительности, а также корректно работать в случае одновременного доступа
                            нескольких пользователей.</p>
                    <p><strong>Админка:</strong></p>
                    <p class="">Также средствами Джанго должна быть настроена админка,
                        где пользователь сможет управлять входящими в базу данных продуктами и рецептами.
                        Для рецептов должна быть возможность редактировать входящие в их состав продукты
                        и их вес в граммах.</p>
                </div>
                <div class="center">
                    <a href="{% url 'app_cookbook:products' %}"
                       class="btn btn-primary" role="button" data-bs-toggle="button">
                        Поехали!
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}


{% block element %}


{% endblock %}

{% block blog %}


{% endblock %}
